aside{
	width: 100pt;	height: 100vh;
	background-color: darkgray;
}

aside > label{
	display: block;
	text-align: center;
}

div.box{
	width: 80pt; height: 80pt;
	margin:0 auto;
}

div.red{
	background-color:red;
}

div.blue{
	background-color:blue;
}

div.greeb{
	background-color:green;
}